.bash_history
.bash_logout
.bashrc
Bookshelf
.cache
.config
Desktop
Documents
Downloads
flexget
.gnupg
.lesshst
.local
Music
nginx/templates
Pictures
pihole/etc-dnsmasq.d
pihole/etc-pihole/adlists.list
pihole/etc-pihole/dns-servers.conf
pihole/etc-pihole/GitHubVersions
pihole/etc-pihole/gravity.db
pihole/etc-pihole/list.1.raw.githubusercontent.com.domains
pihole/etc-pihole/list.1.raw.githubusercontent.com.domains.sha1
pihole/etc-pihole/localbranches
pihole/etc-pihole/local.list
pihole/etc-pihole/localversions
pihole/etc-pihole/migration_backup
pihole/etc-pihole/pihole-FTL.conf
pihole/etc-pihole/pihole-FTL.db
pihole/etc-pihole/setupVars.conf
pihole/etc-pihole/setupVars.conf.update.bak
Public
.profile
.ssh
Templates
transmission/config
Videos
.viminfo
.Xauthority
.xsession-errors
.xsession-errors.old
